.outside{
    height: 500px;
    width: 15%;
    background-color: #e48d248b;
    /* border-top-right-radius: 20px; */
    border-bottom-right-radius: 20px;
    padding: 0;margin: 0;
}
.inside{
    margin: 0px 20px 20px 0px;
   padding: 10px;
   height: 100%;
    background-color: rgba(106, 109, 111, 0.496);
    border-bottom-right-radius: 20px;
}
h4{
    font-size: medium;
    font-weight: bold;
    font-family: cursive;
}
a{
    text-decoration:  none;
    color:rgb(26, 25, 25);
}
#cat{
    width: 11%;
    border-radius: 80px;
    align-items: center;
}
.cat{
    /* width: 50%; */
    position: absolute;
    left: 26%;
    top: 12%;
  }
h5{
    font-size: small;
}
.foot{
    position: fixed; bottom: 0;padding: 0;margin: 0;
    background-color: #e48d248b;
    width: 100%;
    text-align: end;
    height: 15px;
}
.container-fluid {
    position: fixed;
    background-color: white;
    z-index: 10;
}