{% extends "base.html" %}

{% block title %}_Orders{% endblock title %}


{% block body %}
<link rel="stylesheet" href="static\order.css">
<div class="week">
    <img src="static\img\odr.png" alt="weekly orders...">
    <h4><a id="week">Weekly Orders..</a></h4>
    
</div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quas autem neque facere sapiente, natus, deserunt odit dolor mollitia nulla dolores quaerat debitis corrupti ut nesciunt quo totam, doloremque architecto nam iusto quidem beatae et? Odio culpa quia dolores odit sunt itaque adipisci corporis eveniet? Tenetur fugit error animi, unde inventore cumque itaque blanditiis, omnis rem est quasi quisquam voluptatem? Reprehenderit impedit corrupti rerum numquam sapiente vero obcaecati, aut id aperiam modi est praesentium repellat debitis iusto, eum illum sunt eos delectus asperiores qui adipisci sequi velit provident unde. Ipsum aspernatur quibusdam consequatur quaerat esse quo hic culpa veniam ipsa.</p>
<hr><hr>
<div class="week">
    <img id="mirr" src="static\img\odr.png" alt="weekly orders...">
    <h4><a id="month">Monthly Orders..</a></h4>
</div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quas autem neque facere sapiente, natus, deserunt odit dolor mollitia nulla dolores quaerat debitis corrupti ut nesciunt quo totam, doloremque architecto nam iusto quidem beatae et? Odio culpa quia dolores odit sunt itaque adipisci corporis eveniet? Tenetur fugit error animi, unde inventore cumque itaque blanditiis, omnis rem est quasi quisquam voluptatem? Reprehenderit impedit corrupti rerum numquam sapiente vero obcaecati, aut id aperiam modi est praesentium repellat debitis iusto, eum illum sunt eos delectus asperiores qui adipisci sequi velit provident unde. Ipsum aspernatur quibusdam consequatur quaerat esse quo hic culpa veniam ipsa.</p><hr><hr>
<div class="week">
    <img src="static\img\odr.png" alt="weekly orders...">
    <h4><a id="year">Yearly Orders..</a></h4>
</div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed quas autem neque facere sapiente, natus, deserunt odit dolor mollitia nulla dolores quaerat debitis corrupti ut nesciunt quo totam, doloremque architecto nam iusto quidem beatae et? Odio culpa quia dolores odit sunt itaque adipisci corporis eveniet? Tenetur fugit error animi, unde inventore cumque itaque blanditiis, omnis rem est quasi quisquam voluptatem? Reprehenderit impedit corrupti rerum numquam sapiente vero obcaecati, aut id aperiam modi est praesentium repellat debitis iusto, eum illum sunt eos delectus asperiores qui adipisci sequi velit provident unde. Ipsum aspernatur quibusdam consequatur quaerat esse quo hic culpa veniam ipsa.</p>
{% endblock body %}

